@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}
.main-intro {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-direction: row-reverse;
  }

  @media only screen and (max-width: 768px) {
    .main-intro {
      flex-direction: column;
    }
  }
  
  .profile-pic {
    width: 350px; 
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
header{
    background-color: #220031;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{    
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}
.navigation a:hover {
  color: #dcb0ff;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #0c3a64;
    font-size: 1.4em ;
    font-weight:500 ;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em ;
    font-weight:600 ;
}
.main h3{
    color:#0c3a64;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1 em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px ;
    transition: 0.7s ease;

}
.main-btn:hover{
    background-color: #601cfc;
    transform: scale(1.1);
}
.social-icons a {
    font-size: 1.7em;
    color: #0c3a64;
    transition: all 0.4s ease;
    padding-right: 30px;
}

.social-icons a:hover {
  fill: #000;
  color: aliceblue  !important;
  font-size: 2.2em;
}

.title{
    display: flex;
    justify-content: center;
    color: #601cfc;
    font-size: 2.2em;
    font-weight: 800;
    position: relative;
    z-index: 12;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 12;
    flex-wrap: wrap;
}

.card{
    background-color: #f0f0f0;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1  / 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition:0.7s ease ;
}
.card:hover{
    transform: scale(1.1) ;
}
.icon{
    color: #601cfc;
    font-size: 7em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #601cfc;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.career{
    background-color:#000016 ;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.career.content{
    margin-top: 30px;
}
.career h2{
    color: #3a6cf4;
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
}
.projects{
    background-color: #000016;
}
.projects.content{
    margin-top: 30px;
}
.project-card{
    background-color: #f0f0f0;
    border: 1px solid #fff ;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: aliceblue;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase ;
    font-weight:800 ;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover{
    color: #601cfc;
}
.contact .icon{
    font-size: 4.5em;    
}
.contact .info h3{
    color: #000;
}

.footer{
    background-color: #220031;
    height: 100px;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    size: 1px;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: #3a6cf4;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    .section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width:641px){
    body{
        background-color: #2c003e; /* Example of a dark purple color */
        color: #ffffff; /* Adjust the text color for better readability on a dark background */
        font-size: 12px;        
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 0.8em;
    }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
}

/* Contact section layout and styling */
.contact {
    background-color: #f8f9fa; /* Light grey background */
    padding: 50px;
    text-align: center;
  }
  
  /* Contact section title */
  .contact h2 {
    color: #601cfc; /* Your theme color */
    margin-bottom: 20px;
    font-size: 2.2em;
    font-weight: 700;
  }
  
  .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .contact-form label {
    float: left;
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    height: 150px; /* Larger text area for message */
    resize: vertical; /* Allows vertical resizing */
  }
  
  .contact-form button[type="submit"] {
    background-color: #601cfc; /* Your theme color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #3a6cf4; /* Lighter shade for hover effect */
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .contact-form {
      padding: 10px;
    }
  }
  .contact-section {
    padding: 50px;
    background-color: #f0f0f0; /* Adjust the color to fit your design */
  }
  
  .contact-content {
    max-width: 800px; /* Adjust the width as necessary */
    margin: 0 auto;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners */
  }
  
  .form-group textarea {
    height: 150px; /* Larger text area for message */
  }
  
  .btn {
    display: inline-block;
    background-color: #3a6cf4; /* Adjust the color to match your theme */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #601cfc; /* Darker shade on hover */
  }
  .card-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent */
  }
  
  .card-link .card {
    cursor: pointer; /* Changes the cursor to signify clickable items */
  }
  
  .card-link .card:hover {
    /* Add hover effects if needed, such as a slight increase in size, change in color, etc. */
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Example hover effect */
  }
body, input, textarea, button {
    background-color: #2c003e; /* Dark purple background */
    color: #474747; /* White text for contrast */ 
}

/* Titles and headings */
h1, h2, h3, h4, h5, h6 {
  color: #ffffff; /* Ensure headings are also light for contrast */
}

/* Cards and buttons */
.card, .project-card, .contact-form button {
  background-color: #3a2c54;
  color: #ffffff;
}

.card:hover, .project-card:hover {
  background-color: #4e3a6d;
}

#projects::before{
  content: "";
	display:flex;
	position: absolute;
  left: 0;
  margin-top: -100px;
	width: 100%;
  height: 100%;
	background: linear-gradient(to bottom, rgba(44, 0, 62, 1) 0%, rgba(0, 0, 0, 0) 40%);
	z-index: 1;
}
.contact-content input, textarea{
  color: aliceblue !important;
}

.main-intro button {
  font-size:30px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 50%; 
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
}
.main-intro button:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 10px;
  border-radius: 50%; 
  background: conic-gradient(
        #ff53bb ,
        #0000 30deg 120deg,
        #00f8d3 150deg 180deg,
        #0000 210deg 300deg,
        #ff53bb 330deg
    );
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: intersect
}
/*
.main-intro button:after {
  content: "";
  position: absolute;
  inset: -100px;
  background:
    radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
  filter: blur(120px);
  opacity: .5;
}*/

.main-intro button:before,
.main-intro button:after {
  animation: roll 8s infinite;
  transition:.5s, 99999s 99999s transform;
}
.main-intro button:hover {
  box-shadow: 0 0 0 1px #666;
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
    transition: .5s,600s linear transform;
  } 
}
.main-intro button>img{
    border-radius: 50%;
    left: -2px;
    position: relative;
    top: 2px;
    opacity:0.9;
}
